<%= form_for(@micropost) do |f| %>
    <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Create your post", class: "form-control" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
 <span class="image">
  <%= f.file_field :my_img, accept: "image/jpeg image/gif image/png", class: "form-control" %>
 </span>
<% end %>
